.card {
    position: relative;
    padding: 10px;
    background: white;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
    transition: 0.2s ease-in;
}

.card:hover{
    transition: 0.2s ease-in;
    transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);   
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

.card-content .top-bar{
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;  
}

.card-content .top-bar .float-right {
    float: right;
}

.card-content .img {
    width: 100%;
    justify-content: bottom;
    align-content: bottom;
    text-align: center;
}

.card-content .img img{
    max-width: 100%;
    max-height: 220px;   
}

.card-description {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    width: calc(100%-20px);
}

.card-description .id{
    display: none; 
}

.card-description .title{
    text-transform: uppercase;
    text-align: left;
}

.card .cart{
    float: right;
    cursor: pointer;
}

.card-footer {
    text-transform: uppercase;
    padding: 0.3em;
    border-top: 0.5px solid #ececec;
    letter-spacing: 0.1em;
    font-size: 0.6em;
    color: white;
    justify-items: left;
    align-items: center;
    display: flex;   
}

.card-footer .span {
    margin: 5px;
    width: auto;
    /* background: #dededeb2; */
    background: #1ab188; 
    padding: 4px 7px;
    border-radius: 2px;
    font-weight: 100;
    cursor: pointer;
}

.card-footer .span:hover {
    background: #179b77;  
}